.NewSkillForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  border: 1px solid orange;
  border-radius: 8px;
  padding: 16px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsTitle {
  color: teal;
  font-size: 20px;
  margin-bottom: 8px;
}

.SkillRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.NewSkillInput {
  padding: 4px;
  border: 1px solid orange;
  border-radius: 4px;
}

.NewSkillLevel {
  padding: 4px;
  border: 1px solid orange;
  border-radius: 4px;
}

.AddSkillButton {
  margin-top: 8px;
  padding: 4px 8px;
  border: 1px solid teal;
  border-radius: 4px;
  background-color: teal;
  color: white;
}

label {
  margin-right: 8px;
}
